.container
{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    background-color: lightblue; 
    min-height: 100vh; 
}

.title
{   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    color:red;
    font-size: 50px; 
}
#content
{
    background-color: azure;
    font-size: 200%;
}
#Gmail
{
    float: left;
    width: 40px;
    height: 40px;
}
#Linkedin
{
    float: left;
    width: 40px;
    height: 40px;
}
#Github
{
    float: left;
    width: 40px;
    height: 40px;
}
p
{
    font-family:sans-serif;
    font-size: 22px;
}
